table {
    width: 100%;
}

th {
    background-color: burlywood;
}

.data-user-actions {
    padding: 1em;
    margin: 0em;
    background-color: beige;
}

.data-user-action-btn {
    width: 6em;
    margin-left: 2em;
}

.data-current-user-title {
    margin: 1em;
}

.date-dayofweek-Mo, .date-dayofweek-Mi {
    background-color: lightcyan;
}

.date-dayofweek-Di, .date-dayofweek-Do {
    background-color: azure;
}

.date-dayofweek-Fr {
    background-color: lemonchiffon;
}

.date-dayofweek-Sa {
    background-color: peachpuff;
}

.date-dayofweek-So {
    background-color: lightpink;
}

.data-num-field-small {
    width: 3em;
    margin-left: 2em;
    text-align: center;
}

.data-settings-section {
    display: inline-block;
    margin-right: 5em;
}

modal-content {
    width: 600px !important;
    margin: 30px auto !important;
}

/*start Alpay*/
.webGrid {
        font-family: verdana,arial,sans-serif;
        font-size: 12px;
        color: #333333;
        border-width: 1px;
        border-color: #999999;
        border-collapse: collapse;
    }
.webGrid-header {
		text-align: center;
		background: #b5cfd2;
		border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #999999;
}
.webGrid-footer {
		text-align: center;
}
.webGrid-alternating-row, .webSubGrid-alternating-row {
		background: #f8f8f8;
		border-bottom:solid 0px;
		border-left:solid 0px;
		border-right:solid 0px;
        border-width: 1px;
        padding: 8px;
        border-color: #333333;
}
.webGrid-selected-row {
		background: #ff6a00;
}

.webGrid-selected-row {
		background: #00ff21;
}

.webGrid-row-style, .webSubGrid-row-style {
		background: #ffffff;
		border-bottom:solid 0px;
		border-left:solid 0px;
		border-right:solid 0px;
        border-width: 1px;
        padding: 8px;
        border-color: #333333;
}
.webGrid-Date {
	width:12%;
	border-right:solid 0px;
	border-width: 1px;
	font-weight:bold;
}
.webGrid-StartTime {
	width:15%;
	border-right:solid 0px;
	border-width: 1px;
}
.webGrid-PauseLength {
	width:15%;
	border-right:solid 0px;
	border-width: 1px;
}
.webGrid-EndTime {
	width:15%;
	border-right:solid 0px;
	border-width: 1px;
}
.webGrid-NewPrj {
	width:9%;
	border-left:solid 1px;
	border-width: 1px;
	z-index: 999;
}

.clsRed {
	background: peachpuff;
}
.clsNormal {
	background: #ffffff;
}
.clickable{
    cursor: pointer;
    background: #ffff99;
}

/*end Alpay*/
