
@using XiopiaWorkTimeTracker.Models
@model UserViewModel

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<header>
    <h1>Test User Auswahl</h1>
</header>
<body>
    <section>
        <header>
            <h2>Bitte einen Test User auswählen</h2>
        </header>
        <div>
            @using(@Html.BeginForm("SelectMonthWorkTimes", "User", FormMethod.Get))
            { 
                @Html.Hidden("month", DateTime.Now.Month)
                @Html.DropDownListFor(ul => ul.SelectedUser, Model.UserList, new { id="userList"})
                <input type="button" id="btnSubmit" value="Select"/>
            }
        </div>
    </section>
    <script type="text/javascript">
        $("#btnSubmit").on("click", function (event) {
            event.preventDefault();
            $(function () {
                $.post('/Admin/SetVariable',
                       { key: "userId", value: $("#userList").val() },
                       function (data) {}).done(function () {$(location).attr('href', '/');});
            });
        })
    </script>
</body>