
@{
    ViewBag.Title = "Syncronization";
}

<h2>Syncronization</h2>
<div>
	<input id="syncLDAP" type="button" value="Get all user from AD" onclick="location.href='@Url.Action("GetAllUserFromAD", "Ldap")'" />
</div>

