<?xml version="1.0" encoding="utf-8"?>
<!--
Diese Datei wird vom Veröffentlichungs-/Packvorgang Ihres Webprojekts verwendet. Sie können das Verhalten dieses Vorgangs anpassen,
indem Sie diese MSBuild-Datei bearbeiten. Besuchen Sie "http://go.microsoft.com/fwlink/?LinkID=208121", um weitere Informationen zu erhalten. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://xiopiatimetracker.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>xiopiatimetracker.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>xiopiatimetracker</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$xiopiatimetracker</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="WorkTimeTrackerDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:lsjto7vse8.database.windows.net,1433;Initial Catalog=xiopiatimetracker_db;User ID=xiopiaadmin@lsjto7vse8;Password=Xiopia1!" Name="Data Source=tcp:lsjto7vse8.database.windows.net,1433;Initial Catalog=xiopiatimetracker_db;User Id=xiopiaadmin@lsjto7vse8;Password=Xiopia1!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="XiopiaWorkTimeTracker.Models.Database.WorkTimeTrackerDbContext, XiopiaWorkTimeTracker" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WorkTimeTrackerDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:lsjto7vse8.database.windows.net,1433;Initial Catalog=xiopiatimetracker_db;User Id=xiopiaadmin@lsjto7vse8;Password=Xiopia1!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>