@using XiopiaWorkTimeTracker.Models
@using Ressources
@model SettingsViewModel

<section class="data-settings-section">
    <h3>@Language.Holidays</h3>
    <table data-toggle="table">
        <tr>

            <td>Weihnachten</td>
            <td><input type="text" /></td>
        </tr>
    </table>
</section>
